@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div style="margin-bottom: 5px;"><center><h2>Book Issue Details</h2></center></div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div style="margin-bottom: 5px;"><a href="@Url.Action("Create","BookIssue")" class="btn btn-primary btn-sm">New Book Issue</a></div>
    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>Issue ID</th>
                <th>Book ID</th>
                <th>Guets ID</th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Action</th>
            </tr>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>
                <td>@Model.Rows[i][4]</td>
                <td>
                    <a href="@Url.Action("Edit","BookIssue",new { @id = Model.Rows[i][0]})" class="btn btn-info btn-sm">Edit</a>
                </td>
            </tr>
            }
        </table>
    </div>



</div>